.card{
    width: 300px;
    border: 1px solid;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    color: green;
    margin: 20px auto;
    background-color: pink;
    box-shadow: 2px 2px 10px 5px rgb(83, 206, 67);
}
.card img {
    width: 100%;
    border-radius: 8px;
}
.card button {
    margin-top: 10px;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(48, 12, 209);
}
.card button:hover {
    background-color: darkred ;
    cursor: pointer;
}